.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 20px;
  img {
    max-width: 100%;
    width: 50%;
  }
  @media (max-width: 1700px) {
    width: 100dvw;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  position: relative;
  &:first-child {
    transform-origin: center left;
  }
  &:last-child {
    transform-origin: center right;
  }
}

.card {
  width: 80%;
  height: 40dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.info {
  position: absolute;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 20px;
  z-index: 10;
  padding: 20px;
  p {
    color: white;
    font-weight: 600;
  }
}
