.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  img {
    width: 50%;
  }
}

.cardContainer {
  position: relative;
  &:first-child {
    transform-origin: center left;
  }
  &:last-child {
    transform-origin: center right;
  }
}

.card {
  width: 350px;
  height: 450px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.info {
  position: absolute;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 20px;
  z-index: 10;
  padding: 20px;
  p {
    color: white;
    font-weight: 600;
  }
}
